venv
uploads_enrollment*
uploads_verification*
enroll_preprocessed*
speaker_result.data
facial_result.data
*.bak*
*.pyc
*.wav
deepspeech_model.pbmm
deepspeech_model.scorer
*.out
err_output_identify_face
*.old
